<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login and Registration</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.webp' %}">
    <link rel="stylesheet" href="{% static '/css/forms.css' %}"/>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-md shadow">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="/">Welcome to Morostav Books</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navcol-1">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                      </li>
                    <li class="nav-item">
                        <!--<a class="nav-link" href="{% url 'to_login' %}">Login</a>-->
                      </li>
                </ul>
            </div>
        </div>
    </nav>
    <div style="height: 425px;"></div>  
    <div class="form-container">
            <h1 class="shadow"></h1>
            <form class="border-dark shadow p-3 login-container" action="{% url 'log_in' %}" method="POST">
                {% csrf_token %}
                
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                
                <p class="text-white border-rider">Log in</p>
                
                <div class="form-group">
                    <label style="color: rgba(80, 43, 128, 0.6);">Email or Username</label>
                    <input class="form-control" type="text" name="login_identifier" placeholder="Enter Email or Username" required>
                </div>
                
                <div class="form-group position-relative">
                    <label style="color: rgba(80, 43, 128, 0.9);">Password</label>
                    <input class="form-control" type="password" name="password" id="password" placeholder="Enter Password" required>
                    <!-- scroll icon -->
                    <span onclick="togglePassword()" 
                          style="position: absolute; top: 38px; right: 12px; cursor: pointer; color: rgba(80, 43, 128, 0.6); font-size: 1.2em;">
                          📜
                    </span>
                </div>
                
                <button type="submit" class="btn text-white" style="margin-top:29px; background: rgba(80, 43, 128, 0.6);">Login</button>
                
                <a href="{% url 'password_reset' %}" style="color: rgba(237, 226, 241, 0.19)">Reset Password</a>
            </form>     
            <div class="mt-3">
                <p class="text-white">Not registered?
                    <a href="{% url 'register' %}" class="text-decoration-none" style="color: rgba(190, 164, 255, 0.9); font-weight: bold; opacity:85%;">
                        Register here 🗝️
                    </a>
                </p>
            </div>            
        </div>
    </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" 
            crossorigin="anonymous">
        </script>
        function togglePassword(id) {
            const input = document.getElementById(id);
            const icon = event.target;
        
            const type = input.getAttribute("type") === "password" ? "text" : "password";
            input.setAttribute("type", type);
        
            icon.classList.add("clicked");
            setTimeout(() => icon.classList.remove("clicked"), 600);
        }
    </script>
    <script>{"% static /morostav_site/js/main.js %"}</script>  
</body>

</html>