absl-py
ace_tools
aeppl
aesara
affine
aiohappyeyeballs
aiohttp
aiosignal
analytics-python
annotated-types
anyio
anytree
argon2-cffi
argon2-cffi-bindings
arviz
asgiref
asn1crypto
asttokens
attrs
audioread
babel
backoff
basemap
basemap-data
bcrypt
beautifulsoup4
bleach
blinker
blis
blosc2
bokeh
branca
Brotli
cachetools
cairocffi
CairoSVG
caldav
camelot-py
catalogue
certifi
cffi
chardet
charset-normalizer
click
cons
contourpy
cryptography
cssselect2
cycler
defusedxml
distlib
Django
django-environ
django-starfield
djangorestframework
docker
dotenv
environ
et_xmlfile
etuples
filelock
fonttools
frozenlist
gunicorn
h5netcdf
h5py
icalendar
idna
iniconfig
Jinja2
kiwisolver
logical-unification
lxml
Markupsafe
matplotlib
miniKanren
monotonic
msgpack
multidict
multipledispatch

narwhals
ndindex
numexpr
numpy
opencv-python-headless
openpyxl
packaging
pandas
pdfminer.six
pillow
platformdirs
pluggy
propcache
psycopg2-binary
py-cpuinfo
pycparser
PyMySQL
pyparsing
pypdf
pypdfium2
pyproj
pyshp
pytest
python-dateutil
python-dotenv
pytz
PyYAML
recurring-ical-events
requests
scipy
setuptools
six
sniffio
soupsieve
sqlparse
tabulate
tinycss2
toolz
tornado
typing_extensions
tzdata
urllib3
virtualenv
vobject
webencodings
x-wr-timezone
xarray
xarray-einstats
xyzservices
yarl
wheel